.cache
config.db
*.so
*.pyd
*.pyc
*.pyo
*.py#
*~
*.swp
*.DS_Store
*.kpf
venv
.project
.pydevproject
.setting*.so
*.pyd
*.pyc
*.pyo
*.py#
*~
*.swp
*.DS_Store
*.kpf
venv
.project
.pydevproject
.settings
*.sh
bin